
*.aux
*.bbl
*.blg
*.log
*.gz
*.toc
dolgozat/.vs/VSWorkspaceState.json
dolgozat/.vs/ProjectSettings.json
dolgozat/.TDK.tex.swp
dolgozat/.vs/dolgozat/v16/.suo
dolgozat/.vs/slnx.sqlite
*.bak
dolgozat/TDK.synctex(busy)
